# CSIC 5011 Project1 - Animal Sleeping Data
Is there a linear model represent properties/features among animals?
<br>
If not, is it possible to get better result with hybrid linear model?

In [1]:
import sys
import pandas as pd
import numpy as np
import csv
import math
import matplotlib.pyplot as plt
%matplotlib notebook
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
from ipywidgets import Button, Layout
from IPython.display import display

plt.close('all')

In [2]:
df = pd.read_csv('sleep1.csv', sep=',')
df

,species,slowWaveSleep,dreamSleep,sleep,body,brain,life,gestation,predation,sleepExposure,danger
0,African_elephant,NaN,NaN,3.3,6654.000,5712.00,38.6,645.0,3,5,3
1,African_giant_pouched_rat,6.3,2.0,8.3,1.000,6.60,4.5,42.0,3,1,3
2,Arctic_Fox,NaN,NaN,12.5,3.385,44.50,14.0,60.0,1,1,1
3,Arctic_ground_squirrel,NaN,NaN,16.5,0.920,5.70,NaN,25.0,5,2,3
4,Asian_elephant,2.1,1.8,3.9,2547.000,4603.00,69.0,624.0,3,5,4
5,Baboon,9.1,0.7,9.8,10.550,179.50,27.0,180.0,4,4,4
6,Big_brown_bat,15.8,3.9,19.7,0.023,0.30,19.0,35.0,1,1,1
7,Brazilian_tapir,5.2,1.0,6.2,160.000,169.00,30.4,392.0,4,5,4
8,Cat,10.9,3.6,14.5,3.300,25.60,28.0,63.0,1,2,1
9,Chimpanzee,8.3,1.4,9.7,52.160,440.00,50.0,230.0,1,1,1
10,Chinchilla,11.0,1.5,12.5,0.425,6.40,7.0,112.0,5,4,4
11,Cow,3.2,0.7,3.9,465.000,423.00,30.0,281.0,5,5,5
12,Desert_hedgehog,7.6,2.7,10.3,0.550,2.40,NaN,NaN,2,1,2
13,Donkey,NaN,NaN,3.1,187.100,419.00,40.0,365.0,5,5,5
14,Eastern_American_mole,6.3,2.1,8.4,0.075,1.20,3.5,42.0,1,1,1
15,Echidna,8.6,0.0,8.6,3.000,25.00,50.0,28.0,2,2,2
16,European_hedgehog,6.6,4.1,10.7,0.785,3.50,6.0,42.0,2,2,2
17,Galago,9.5,1.2,10.7,0.200,5.00,10.4,120.0,2,2,2
18,Genet,4.8,1.3,6.1,1.410,17.50,34.0,NaN,1,2,1
19,Giant_armadillo,12.0,6.1,18.1,60.000,81.00,7.0,NaN,1,1,1
20,Giraffe,NaN,0.3,NaN,529.000,680.00,28.0,400.0,5,5,5
21,Goat,3.3,0.5,3.8,27.660,115.00,20.0,148.0,5,5,5
22,Golden_hamster,11.0,3.4,14.4,0.120,1.00,3.9,16.0,3,1,2
23,Gorilla,NaN,NaN,12.0,207.000,406.00,39.3,252.0,1,4,1
24,Gray_seal,4.7,1.5,6.2,85.000,325.00,41.0,310.0,1,3,1
25,Gray_wolf,NaN,NaN,13.0,36.330,119.50,16.2,63.0,1,1,1
26,Ground_squirrel,10.4,3.4,13.8,0.101,4.00,9.0,28.0,5,1,3
27,Guinea_pig,7.4,0.8,8.2,1.040,5.50,7.6,68.0,5,3,4
28,Horse,2.1,0.8,2.9,521.000,655.00,46.0,336.0,5,5,5
29,Jaguar,NaN,NaN,10.8,100.000,157.00,22.4,100.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
32,Little_brown_bat,17.9,2.0,19.9,0.010,0.25,24.0,50.0,1,1,1
33,Human,6.1,1.9,8.0,62.000,1320.00,100.0,267.0,1,1,1
34,Mole_rat,8.2,2.4,10.6,0.122,3.00,NaN,30.0,2,1,1
35,Mountain_beaver,8.4,2.8,11.2,1.350,8.10,NaN,45.0,3,1,3
36,Mouse,11.9,1.3,13.2,0.023,0.40,3.2,19.0,4,1,3
37,Musk_shrew,10.8,2.0,12.8,0.048,0.33,2.0,30.0,4,1,3
38,N._American_opossum,13.8,5.6,19.4,1.700,6.30,5.0,12.0,2,1,1
39,Nine-banded_armadillo,14.3,3.1,17.4,3.500,10.80,6.5,120.0,2,1,1
40,Okapi,NaN,1.0,NaN,250.000,490.00,23.6,440.0,5,5,5
41,Owl_monkey,15.2,1.8,17.0,0.480,15.50,12.0,140.0,2,2,2
42,Patas_monkey,10.0,0.9,10.9,10.000,115.00,20.2,170.0,4,4,4
43,Phanlanger,11.9,1.8,13.7,1.620,11.40,13.0,17.0,2,1,2
44,Pig,6.5,1.9,8.4,192.000,180.00,27.0,115.0,4,4,4
45,Rabbit,7.5,0.9,8.4,2.500,12.10,18.0,31.0,5,5,5
46,Raccoon,NaN,NaN,12.5,4.288,39.20,13.7,63.0,2,2,2
47,Rat,10.6,2.6,13.2,0.280,1.90,4.7,21.0,3,1,3
48,Red_fox,7.4,2.4,9.8,4.235,50.40,9.8,52.0,1,1,1
49,Rhesus_monkey,8.4,1.2,9.6,6.800,179.00,29.0,164.0,2,3,2
50,Rock_hyrax_(Hetero._b),5.7,0.9,6.6,0.750,12.30,7.0,225.0,2,2,2
51,Rock_hyrax_(Procavia_hab),4.9,0.5,5.4,3.600,21.00,6.0,225.0,3,2,3
52,Roe_deer,NaN,NaN,2.6,14.830,98.20,17.0,150.0,5,5,5
53,Sheep,3.2,0.6,3.8,55.500,175.00,20.0,151.0,5,5,5
54,Slow_loris,NaN,NaN,11.0,1.400,12.50,12.7,90.0,2,2,2
55,Star-nosed_mole,8.1,2.2,10.3,0.060,1.00,3.5,NaN,3,1,2
56,Tenrec,11.0,2.3,13.3,0.900,2.60,4.5,60.0,2,1,2
57,Tree_hyrax,4.9,0.5,5.4,2.000,12.30,7.5,200.0,3,1,3
58,Tree_shrew,13.2,2.6,15.8,0.104,2.50,2.3,46.0,3,2,2
59,Vervet,9.7,0.6,10.3,4.190,58.00,24.0,210.0,4,3,4
60,Water_opossum,12.8,6.6,19.4,3.500,3.90,3.0,14.0,2,1,1
61,Yellow-bellied_marmot,NaN,NaN,NaN,4.050,17.00,13.0,38.0,3,1,1

In [3]:
animalList = df.values
columnWithoutNan = range(animalList[0].shape[0])
animalWithoutNan = range(animalList.shape[0])
for aniIdx, animal in enumerate(animalList):
    if True in pd.isnull(animal):
        for idx in range(animalList[0].shape[0]):
            if idx in columnWithoutNan:
                if pd.isnull(animal[idx]) == True:
                    columnWithoutNan.remove(idx)
        animalWithoutNan.remove(aniIdx)
print 'Number of animals without any NA column is '+str(len(animalWithoutNan))

Number of animals without any NA column is 42

I would like to use these 42 animals as a training set.
<br>
The evaluation will be given by remaining species, which contains some NA entry but not having NA feature we are looking at.
<br>
Eg. African_elephant will be used for evaluation of sleep, life, gestation, Arctic_ground_squirrel will be used for evaluation of sleep and gestation.

In [4]:
animalWithNan = range(animalList.shape[0])
for nonNan in animalWithoutNan:
    animalWithNan.remove(nonNan)
animalListForEvaluation = animalList[animalWithNan]

def extractAnimalForEvaluateSomeNa(animalList,animalWithNan, columnNum):
    evaluateFeatureList = []
    evaluateIdxList = []
    for idx, animal in enumerate(animalList):
        if idx in animalWithNan:
            if pd.isnull(animal)[columnNum] == False:
                evaluateFeatureList.append(animal[columnNum])
                evaluateIdxList.append(idx)
    return np.array(evaluateIdxList), np.array(evaluateFeatureList)

def extractTrainingSet(animalList, animalWithoutNan, columnNum):
    animalWithoutNanList = animalList[animalWithoutNan]
    trainingList = [feature[columnNum] for feature in animalWithoutNanList]
    return np.array(trainingList)

In [5]:
filteredData = np.array([animal[columnWithoutNan[1:]] for animal in animalList]).astype('float')

In [6]:
columnWithNan = range(animalList[0].shape[0])
for nonNan in columnWithoutNan:
    columnWithNan.remove(nonNan)

I would like to employ different linear regession model to see which features have higher weight in each predicting feature,
<br>
but as LASSO there is L1-norm penality, normalisation of each feature is needed.
<br>
Otherwise, weights of feature with larger number will tends to be 0.
<br>
Also, as Some number of some animals, like body of elephant is too large.
<br>
Here logistic function-based normalization is performed (similar to z-score):

In [7]:
import math
def sigmoidNormalisation(valueList, value):
    maxVal = max(valueList)
    medianVal = np.median(valueList)
    return 1/(1+math.exp(-1*(value-medianVal)/maxVal))

filteredWithoutNanAnimal = filteredData[animalWithoutNan].T
# fig = plt.figure()
# for idx, feature in enumerate(filteredWithoutNanAnimal):
#     ax = fig.add_subplot(5,1,idx+1)
#     ax.hist(feature)
# fig

normalisedAnimalList = []
for animal in filteredData:
    normalisedAnimal = []
    for idx, feature in enumerate(animal):
        normalisedAnimal.append(sigmoidNormalisation(filteredWithoutNanAnimal[idx], feature))
    normalisedAnimalList.append(normalisedAnimal)
normalisedAnimalList = np.array(normalisedAnimalList)

KFold(n_splits=10, random_state=None, shuffle=False)

In [8]:
def predictedVSActual(trainingpredicted, trainingactual, evaluatepredicted, evaluateactual, feature, regressor):
    fig = plt.figure()
    ax1 = fig.add_subplot(111)
    ax1.scatter(trainingpredicted, trainingactual, label='training')
    print 'Training r2_score of '+feature+' '+regressor+'='+str(r2_score(trainingactual, trainingpredicted))
    
    ax1.scatter(evaluatepredicted, evaluateactual, label='evaluation')
    ax1.set_title('Actual VS Predicted ('+feature+'), Regressor:' + regressor)
    ax1.set_xlabel('Predicted')
    ax1.set_ylabel('Actual')
    ax1.legend()
    print 'Evaluation r2_score of '+feature+' '+regressor+'='+str(r2_score(evaluateactual, evaluatepredicted))
    return fig, r2_score(trainingactual, trainingpredicted)

In [9]:
from sklearn.linear_model import (LinearRegression, 
                                  LassoCV, 
                                  LassoLarsIC,
                                  OrthogonalMatchingPursuitCV,
                                  BayesianRidge,
                                  ARDRegression)
from sklearn.metrics import r2_score

regressors = [('OLS', LinearRegression()),
              ('LassoCV', LassoCV(cv=20)),
              ('LassoLarsIC', LassoLarsIC(criterion='bic')),
              ('OmpCV', OrthogonalMatchingPursuitCV(cv=20)),
              ('BayesianRidge', BayesianRidge()),
              ('ARDRegression', ARDRegression())]

In [103]:
def plotCoef(coefList, regressors, r2ScoreList, featurepredicting):
    fig = plt.figure()
    ax = fig.add_subplot(111)
    x = range(len(coefList[0]))
    xtickslabel = [df.axes[1][nonNan] for nonNan in columnWithoutNan[1:]]
    for idx, coef in enumerate(coefList):
        ax.plot(x, coef, label=regressors[idx]+' r2 = '+"%.2f"%r2ScoreList[idx], marker='o', ls='--')
        ax.set_xticks(x)
        ax.set_xticklabels(xtickslabel)
    ax.legend()
    ax.set_title('Weights of each feature correlated to '+featurepredicting)
    return fig

def SigmoidWeighted(r2ScoreList):
    sigmoidr2 = 1/(1+np.exp(-1*r2ScoreList))
    sumSigR2= sum(sigmoidr2)
    return sigmoidr2/sumSigR2

def hybridRegressor(coefList, r2ScoreList):
    sigR2weight = SigmoidWeighted(r2ScoreList)
    hybridWeighted = coefList.T.dot(sigR2weight)
    print hybridWeighted
    return hybridWeighted

def compareRegressor(featurePredicting):
    nanColumn = featurePredicting
    plt.close('all')
    coefList = []
    r2ScoreList = []
    weightedFeatureName = df.axes[1][columnWithoutNan][1:]
    fea = df.axes[1][nanColumn]
    print fea+' Regression:'
    trainingfeatureY = [feature[nanColumn] for feature in animalList[animalWithoutNan]]
    trainingfeatureX = normalisedAnimalList[animalWithoutNan]
    evaluateIdxList, evaluateFeatureList = extractAnimalForEvaluateSomeNa(animalList,animalWithNan, nanColumn)
    for name, regressor in regressors:
        model = regressor
        model.fit(trainingfeatureX, trainingfeatureY)
        predicted = model.predict(trainingfeatureX)
        evaluatingPrediction = model.predict(normalisedAnimalList[evaluateIdxList])
        fig, r2_score_training = predictedVSActual(predicted, trainingfeatureY, evaluatingPrediction, evaluateFeatureList, fea, name)
        print 'Weights of regressed by '+name
        print weightedFeatureName
        print model.coef_
        coefList.append(np.array(model.coef_).astype('float'))
        r2ScoreList.append(r2_score_training)
    coefList = np.array(coefList)
    r2ScoreList = np.array(r2ScoreList)
    regressorsName = [name for name, regressor in regressors]
    
    hybridWeight = hybridRegressor(coefList, r2ScoreList)
    
    hybridtrainingY = trainingfeatureX.dot(hybridWeight)
    hybridEvaluateY = normalisedAnimalList[evaluateIdxList].dot(hybridWeight)
    fig, r2_score_training = predictedVSActual(hybridtrainingY, trainingfeatureY, hybridEvaluateY, evaluateFeatureList, fea, 'hybridWeight')
    coefList = np.append(coefList, [hybridWeight])
    print coefList
    regressorsName.append('hybrid')
    r2ScoreList = np.append(r2ScoreList, [r2_score_training])
    plotCoef(coefList, regressorsName, r2ScoreList, fea)
    hybridWeight

In [104]:
# UI stuff
from IPython.display import display, Javascript

disable_js = """
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}
"""
display(Javascript(disable_js))

featureDict = {}
for nanColumn in columnWithNan:
    featureDict[df.axes[1][nanColumn]] = nanColumn

interactPlot = interactive(compareRegressor, featurePredicting=featureDict)
output = interactPlot.children[-1]
display(interactPlot)